
<h3>User</h3>
<p>Name: <%= @user.firstname + " " + @user.lastname if @user.firstname %></p>
<p>Project: <%= @user.project if @user.project %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p> <%= @user.role if @user.role %></p>